* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 64px;
  }
}

.image-container {
  display: flex;
  width: 50%;
  max-width: 800px;
}

.image {
  width: 300px;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 300px;
    height: 300px;
  }
}
