.bg-container {
  background-color: #0f172a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 600;
}

.image-container {
  display: flex;
  width: 50%;
  max-width: 800px;
}

.image {
  width: 50%;
  max-width: 800px;
}
